src/main/app/fb2box.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:box="http://www.mulesoft.org/schema/mule/box" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/box http://www.mulesoft.org/schema/mule/box/1.1.0/mule-box.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/2.0/mule-facebook.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd ">

	<box:config name="box" apiKey="${box.apiKey}" doc:name="Box" callbackPath="box_callback" callbackPort="${http.port}" usesCallback="true"/>
 	
 	<http:connector name="connector.http.mule.default" />
 	
 	<facebook:config-with-oauth name="Facebook" appId="${facebookAppId}" appSecret="${facebookAppSecret}" doc:name="Facebook Cloud Connector" scope="user_photos,friends_photos">
        <facebook:oauth-callback-config domain="${domain}" localPort="${http.port}" path="fb_auth" connector-ref="connector.http.mule.default" async="false"/>
        <facebook:oauth-store-config objectStore-ref="_defaultUserObjectStore" />
    </facebook:config-with-oauth>

	<context:property-placeholder location="mule.properties"/>
    
    <flow name="mainFlow" doc:name="mainFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="integrate" doc:name="HTTP"/>
        
        <!-- Since the transfer can be time consuming, do it async so that the http connection can be released quickly -->
        <async doc:name="Async">
        
        	<!-- Get the photos you were tagged in since last year -->
            <facebook:get-user-photos config-ref="Facebook" limit="1000" since="last year" until="now" user="me" doc:name="Get user photos" accessTokenId="#[message.inboundProperties['user']]" />
            
            <!-- Per each picture -->
            <foreach doc:name="Foreach">
                <!-- Store the pic name -->
                <set-variable variableName="filename" value="#[payload.id].jpg" doc:name="Set File name"/>
                <facebook:download-image config-ref="Facebook" imageUri="#[payload.source]" doc:name="Download Image" accessTokenId="#[message.inboundProperties['user']]" />
                
                <!-- Put the picture's bytes in an input stream and set it as payload -->
                <scripting:transformer doc:name="To Input Stream">
                    <scripting:script engine="Groovy">
                        <scripting:text><![CDATA[return new java.io.ByteArrayInputStream(payload)]]></scripting:text>
                    </scripting:script>
                </scripting:transformer>
                
                <!-- Upload to box -->
                <box:upload-stream config-ref="box" filename="#[variable:filename]" doc:name="Upload Stream"/>
            </foreach>
        </async>
        <set-payload value="Synchronization begun" doc:name="Set Payload"/>
    </flow>
    
    <flow name="facebookAuthorize" doc:name="facebookAuthorize">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="fbAuthorize" doc:name="HTTP" connector-ref="connector.http.mule.default"/>
        <facebook:authorize config-ref="Facebook" doc:name="Authorize"/>
        <set-payload value="authorized" />
    </flow>
 
 	<flow name="boxAuthorize" doc:name="boxAuthorize">
       <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" doc:name="HTTP" path="boxAuthorize"/>
       <!-- Get the ticket -->
       <enricher target="#[variable:boxTicket]" doc:name="Message Enricher">
           <box:get-ticket config-ref="box" doc:name="box"/>
       </enricher>
       
       <!-- Redirect to the login page. The auth token should then come through the callback -->
  		<http:response-builder status="307" doc:name="HTTP Response Builder"> 
        	<http:location value="https://www.box.net/api/1.0/auth/#[variable:boxTicket]" /> 
        </http:response-builder> 
    </flow>

</mule>
